.chart {
  flex: 4;
  box-shadow: 5px 5px 10px #9999;
  padding: 10px;
  color: gray;
  border-radius: 10px;
  height: fit-content;

  .title {
    margin-bottom: 20px;
  }

  .chartGrid {
    stroke: transparent;
  }
}
@media only screen and (max-width: 600px) {
  .chart {
    width: 90%;
  }
}
