.featured {
  flex: 2;
  box-shadow: 5px 5px 10px #ddd;
  padding: 10px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;

    .title {
      font-size: 16px;
      font-weight: 500;
    }
  }
}
